MODEL_SERVER_HOST=0.0.0.0
MODEL_SERVER_PORT=8001

CUDA_IMAGE_DEVICE=cuda:0
CUDA_AUDIO_VIDEO_DEVICE=cuda:1
MODEL_PRECISION=fp16
LOAD_ALL_MODELS=false

ENABLE_UNIVERSAL_FAKE_DETECT=true
ENABLE_CAPCHECK_IMAGE_DETECTOR=true
ENABLE_OPENCLIP=true
ENABLE_DIRE=false
ENABLE_AASIST=true
ENABLE_WAV2VEC2_AUDIO_DETECTOR=true
ENABLE_PARAKEET=true
ENABLE_RAWNET2=false
ENABLE_MESONET=true
ENABLE_GENCONVIT=true
ENABLE_DEEPFAKEBENCH=false
ENABLE_VLM=false

UNIVERSAL_FAKE_DETECT_DIR=third_party/UniversalFakeDetect
DIRE_DIR=third_party/DIRE
AASIST_DIR=third_party/aasist
MESONET_DIR=third_party/MesoNet
DEEPFAKEBENCH_DIR=third_party/DeepfakeBench

DIRE_MODEL_PATH=
RAWNET2_MODEL_PATH=

HF_HOME=model_weights/huggingface
MODEL_WEIGHTS_DIR=model_weights
OUTPUT_DIR=outputs

TUNNEL_PROVIDER=cloudflare
PUBLIC_MODEL_SERVER_URL=
